@font-face {
  font-family: 'Cubano';
  src: url('./assets/fonts/Cubano-Regular.ttf') format('ttf');
}
/* Global */

* {
  font-family: 'Bergen Text';
}

/* Chats Page */

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  
}

.nav-bar {
  width: 100%;
  height: 66px;
  background-color: #1b9aa3;
}

.logo-tab {
  position: absolute;
  left: 22px;
  top: 12px;
  font-size: 30px;
  color: #fff;
  font-weight: 100;
  font-family: 'Cubano';
  
}
.logo-tab:hover {
  -webkit-text-stroke: 1px #fff;
  color: #1b9aa3;
  transition: 0.5s;
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.logout-tab {
  position: absolute;
  top: 22px;
  right: 22px;
  padding: 10px;
  border-radius: 10px;
  margin-top: -10px;
  background-color: #fff;
  color: #1b9aa3;
  cursor: pointer;
  font-family: 'Cubano';
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.logout-tab:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Login Page */

#login-page {
  background-image: linear-gradient(#fd746c, #ff9068);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#login-card {
  position: relative;
  top: calc(50vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 26px;
  padding-bottom: 66px;
  width: 420px;
  text-align: center;
  background-color: white;
  border-radius: 22px;
  margin-top: -6%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  filter: blur(0.5px);
  
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}

.facebook {
  background-color: #0071f1;
  width: 220px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.facebook:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.google {
  background-color: rgb(212, 212, 212);
  width: 220px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  transition: 0.3s;
}

.google:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: 1s;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}

#logo {
  width: 70px;
  font-family: 'Cubano' !important;
}

h1 {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

#login-with {
  overflow: hidden;
  text-align: center;
  font-family: "poppins";
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#login-with:before,
#login-with:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 25%;
  margin: 5px;
}

#login-with:before {
  right: 0.5em;
  margin-left: -50%;
}

#login-with:after {
  left: 0.5em;
  margin-right: -50%;
}

.loading-text {
  font-size: 170px;
  
}